#header {
    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height:15em;
    width:100%;

    & h2, & h3 {
        font-family:var(--robotomono-font);
        font-weight:400;
    }

    & h2 {
        font-size:3rem;
    }

    & h3 {
        opacity: 0.5;
        font-style:italic;
    }
}

#content {
    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    & #collection {
        display:grid;
        grid-template-columns: auto auto;
        gap: 1em 2ch;

        width:100ch;

        margin-top:1em;

        & .tile {
            width:calc(50ch - 1ch);
            height:12.5em;

            & #description {
                font-size:0.7rem;

                & h2 {
                    font-size:2rem;
                }
            }

            & #gradient {
                background:linear-gradient(#0000, #0000,#0000, #0000, #000c, #000c, #000c);
            }
        }
    }
}

.tile {
    position:relative;

    width:100ch;
    height:25em;

    border-radius:var(--border-radius-heavy);

    overflow: hidden;

    & #headerImage {
        position:absolute;

        top:0;
        left: 0;

        display:flex;
        justify-content: center;
        align-items: center;

        width:100%;
        height:100%;

        overflow:hidden;

        & img {
            height:100%;
            object-fit:cover;
        }
    }

    & #info {
        position:relative;
        top:0;
        left:0;

        display:flex;
        justify-content: flex-start;
        align-items: flex-end;

        height:100%;
        width:100%;
        
        z-index: 100;

        & #description {
            z-index: 100;

            padding:1em 5ch;

            & h2, & h3 {
                font-family:var(--nunitosans-font);
                font-weight:400;
            }
    
            & h2 {
                font-size:3rem;
            }
    
            & h3 {
                font-size:1rem;
            }
        }

        & #gradient {
            position:absolute;

            top:0;
            left:0;

            /* background:#000a; */
            background:linear-gradient(#0000, #0000,#0000, #0000, #0000, #0000, #0000, #000c, #000c, #000c);

            height:100%;
            width:100%;
        }
    }
}