& > div {
    height:100vh;
    overflow-y:scroll;
}

#page {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-y:hidden;

    background-color:var(--background);
}

#titleHeader {
    position:relative;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height:100vh;
    width:100vw;

    & #info {
        position:relative;
        z-index: 5;

        & h1 {
            font-family: var(--nasaliza-font);
            font-size:180px;
        }
    
        & h2 {
            font-size:20px;
            font-style:italic;
            font-family:var(--robotomono-font);
            font-weight: 500;
            text-align: center;
        }
    }

    & #join {
        position:absolute;
        top: calc(100% + 3ch);

        left:50%;
        transform:translateX(-50%);

        width:fit-content;

        border-style:solid;
        border-color:white;
        border-radius:var(--border-radius);
        border-width:1px;
        padding: 1em 3ch;

        transition-duration:0.3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        cursor:pointer;

        font-family:var(--robotomono-font);
        font-weight:600;

        &:hover {
            background:white;
            color:var(--background);
        }
    }

    & #headerBackground {
        position:absolute;
    
        filter:brightness(0.3);
    
        height:100%;
        width:100%;
    
        object-fit: cover;
    }
}

#honoredGuests {
    width:100%;

    & > h2 {
        font-size:2.2rem;

        margin-bottom:1em;
    }
}

#counterContainer {
    width:80%;

    display:grid;
    grid-template-columns: auto auto;
    /* grid */

    .info {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:10vh auto;

        width:fit-content;

        & span {
            font-family:var(--robotomono-font);

            font-size:80px;
        }

        & > div > div {
            background:#fffb;
            height:0.3ch;
            width:100%;
            border-radius:1000px;

            margin-bottom:1ch;
        }

        & h3 {
            font-family:var(--robotomono-font);
            font-style:italic;
            font-weight:400;

            font-size:20px;
        }
    }
}

#about {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-top:3em;
    margin-bottom:5em;
    width:70%;

    & h2, & h3 {
        font-weight:400;
        font-family: var(--nunitosans-font);
    }

    & > h2 {
        font-size:2rem;
        width:100%;

        margin-bottom:1em;

        text-align: center;
    }

    & > div {
        width:80%;

        margin: auto;

        & h3 {
            font-size:1.3rem;
    
            margin-top: 1em;
    
            text-underline-offset: 0.17em;
            /* word-spacing: 0.2ch; */
            /* text-decoration */
        }
    
        & > div {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            /* margin-top:1em; */
    
            width:100%;
    
            & a {
                margin:3em auto 0 auto;
            }
    
            & h3 {
                margin:0;
    
                font-style:italic;
                font-size:1rem;
    
                opacity: 0.5;
            }
        }
    }
}

.displayContainer {
    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin:5rem 0;

    width:80%;

    & h2, & h3 {
        font-family:var(--nunitosans-font);
        font-weight:500;
    }

    & h2 {
        font-size:1.8rem;
    }

    & h3 {
        font-size:1.2rem;
        opacity: 0.5;
        font-style:italic;
    }
}


.hr {
    height:0.2ch;
    width:90%;
    background:white;
    border-radius:1000px;

    margin:10ch 0;
}

.link {
    /* margin: 3em auto 0 auto; */
    padding:1em 5ch;

    border-radius:var(--border-radius);
    border-style:solid;
    border-width:1px;
    border-color:white;

    transition-duration:0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background:white;

        & h2 {
            color: black;
        }
    }

    & h2 {
        font-size:1.5rem;

        transition-duration:0.3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.return {
    position:fixed;
    top:1em;
    left:3ch;

    padding:1ch 1ch;

    border-radius:var(--border-radius);
    border-style:solid;
    border-width:1px;

    display:flex;
    justify-content: flex-start;
    align-items: center;

    z-index: 1000;

    transition-duration:0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    opacity: 0.5;

    &:hover {
        opacity: 1;

        transform:translateX(-1ch);
    }

    & h2 {
        font-size:1.2rem;
        font-family:var(--robotomono-font);
        font-weight:400;
    }

    & img {
        margin-right:1.5ch;
        margin-left:1ch;
        height:1em;
        width:1em;
        object-fit: contain;
    }
}

